# video files
*.swf

# working files
*~

# answer files
answers_*

# python compiled files
*.pyc

# videos
videos/

# Dropbox
.dropbox

# Grading Output files
hw1/*.xml
hw1/*.csv
hw1/.~lock.*

# Autograde sample folder
autograde_sample/.~lock.*
autograde_sample/*.csv
autograde_sample/*/*.csv

# archive
/archive/

*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.lot
*.toc
*.lof
*.idx